
<div class="row navbar-fixed">

  <nav class="nav-extended red darken-1">
    <div class="col s12 nav-wrapper">
      <a routerLink="" class="brand-logo"><img src="assets\img\cropped-favicon-150x150.png" style="width: 60%; margin-top: 10%; margin-left: 0px;"  alt=""></a>

      <ul class="right">
        <li><a>Home</a></li>
        <li><a>Serviços</a></li>
        <li><a></a></li>
      </ul>

      <div class="col s12 nav-content superposicao">
        <div class="fixed-action-btn toolbar fab-btn-menu">
          <a class="large right halfway-fab waves-effect waves-light transparent"><i class="material-icons">menu</i></a>
          <!-- <a class="btn-floating btn-large transparent">
            <i class="large material-icons">menu</i>
          </a> -->
          <ul>
            <li><a class="btn"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn"><i class="material-icons">publish</i></a></li>
            <li><a class="btn"><i class="material-icons">attach_file</i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
</div>


<!-- /\ Este botão chama o side-navbar \/ -->
<div class="fixed-action-btn">
  <a href="#" data-target="slide-out" class="sidenav-trigger">
    <i class="material-icons medium">
      input
    </i>
  </a>
</div>
<!-- sidenav menu -->
<app-navbar-lateral></app-navbar-lateral>
