<ul id="slide-out" class="sidenav">

  <li><a class="sidenav-close" routerLink="#">Clique aqui para ocultar
    <i class="material-icons red-text">
      exit_to_app
    </i>
  </a></li>

  <a routerLink="#" data-target="slide-out" class="sidenav-trigger"></a>
  <li><div class="user-view">
    <div class="background">
      <img src="assets/img/navlateralbg.png">
    </div>
    <img class="circle" src="assets/img/users/djailtongomes.jpg">
    <span class="white-text name">Djailton Gomes</span>
    <span class="white-text email">djailtongomes@hotmail.com</span>
  </div>
</li>


<li><a [routerLink]="['/bic']"><i class="material-icons">edit</i>Cadastros</a></li>
<li><a routerLink="/bic"><i class="material-icons">search</i>Consultas</a></li>
<li><div class="divider"></div></li>
<li>
  <a class="subheader">Subheader</a>
</li>
<li><a class="waves-effect" routerLink="#">Third Link With Waves</a></li>
</ul>
<!--  Botão trigger do sidenav -->
<!-- <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons medium">menu</i></a> -->


<!--
<div class="user-view">
<div class="background">
<img src="assets/img/cropped-favicon-150x150.png">
</div>
</div> -->
